deepface @ git+https://github.com/Rooster-AI/rooster-deepface.git@
Flask==2.2.2 # Flask might need to be 3.0.2
keras==2.15.0
mtcnn==0.1.1
numpy==1.26.2
oauthlib==3.2.2
opencv-python==4.8.1.78
pandas==2.1.1
Pillow==10.1.0
retina-face==0.0.13
tqdm==4.66.1
supabase==2.3.4
python-dotenv==1.0.0
ultralytics
resend